{% extends "layout.html" %}
{% block content %}

<div class="content-section" enctype="multipart/form-data">
    <form action="" method="POST">
        {{ form.hidden_tag() }}<!--adds a CSRF token-->
        <fieldset class="form-group">
             <legend class="border-bottom mb-4 font-weight-bold">{{ legend }}</legend>
             <!-- username -->
             

             <!-- Title -->
             <div class="form-group">
                {{ form.title.label(class="form-control-label font-weight-bold") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <!-- no errors -->
                    {{ form.title(class="form-control") }}
                {% endif %} 
             </div>

             <!-- content -->
             <div class="form-group">
                {{ form.content.label(class="form-control-label font-weight-bold") }}
                {% if form.content.errors %}
                    {{ form.content(class="form-control is-invalid", rows="10") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <!-- no errors -->
                    {{ form.content(class="form-control", rows="10") }}
                {% endif %} 
             </div>

             <!-- post image -->
             <div class="form-group">
                {{ form.picture.label(class="font-weight-bold") }}
                {{ form.picture(class = "form-control-file") }}
                {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                        <span class="text-danger">{{ error }}</span><br>
                    {% endfor %}
                {% endif %}
             </div>
             
        </fieldset>

        <!-- submit post -->
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info")}}
        </div>
        
    </form>
</div>
    
{% endblock content %}
