{% extends "layout.html" %}
{% block content %}

    <h2 class="title mb-3" style="text-align: center;">My Content</h2>

    {% for post in posts.items %}
    
        <article class="media content-section">
            <style type="text/css">.important { align-content: center; }</style>
            <img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file)}}" class="rounded-circle article-img" alt="">
            <div class="media-body">
                <div class="article-metadata">
                    <!-- link to the user_posts page -->
                    <a class="mr-2 uname" href="{{url_for('users.user_posts', username=post.author.username )}}">{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id)}}">{{ post.title }}</a></h2>
                {% if post.post_image %}
                    <div><p class="article-content">{{ post.content }}</p></div>
                    <div class="post-pic"><img src="{{url_for('static', filename = 'post_images/' + post.post_image)}}" alt="" height="auto" width="500px"></div> 
                {% else %}
                    <div><p class="article-content">{{ post.content }}</p></div>
                {% endif %}

                <!-- like button -->
                <div>
                    <span id="likes-count-{{post.id}}">{{post.likes|length}}</span>
                    {% if current_user in post.likes|map(attribute="author")|list %}
                        <i class="fa-solid fa-thumbs-up fa-2x" id="likes-button-{{post.id}}" onclick="like({{post.id}})"></i></a>
                    {% else %}
                        <i class="fa-regular fa-thumbs-up fa-2x" id="likes-button-{{post.id}}" onclick="like({{post.id}})"></i></a> 
                    {% endif %}
                </div>
                
                <!-- display comments -->
                <!-- expand/collapse the comments for the specific post -->
                <div class="collapse" id="comments-{{post.id}}">
                        <div class="card card-body" id="comments-expanded-{{post.id}}">
                        {% for comment in post.comments %}
                            <div class="">
                                <div>
                                    <a href="{{url_for('users.user_posts', username=comment.author.username )}}" class="uname">{{comment.author.username}}</a>: {{comment.text}}
                                </div>
                                <div>
                                    <small class="text-muted">{{comment.date_posted.strftime('%Y-%m-%d')}}</small>
                                    <!-- delete comments -->
                                    {% if current_user.id == comment.user_id or current_user.id == post.user_id %}
                                        <div class="btn-group">
                                            <a href="#" style="width: 20px; height: 20px;" style="border: 2px solid black;"  data-toggle="dropdown" >
                                                <i class="fa-regular fa-trash-can"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="/delete-comment/{{comment.id}}" class="dropdown-item">delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    {% endif %}
                                </div>
                            </div><br>
                        {% endfor %}
                         </div>
                </div>

                
                <!-- toggle the comments section -->
                <p class="card-text">
                    {% if post.comments|length > 0 %}
                    <a data-toggle="collapse" href="#comments-{{post.id}}" role="button" aria-expanded="false">
                        <small>View {{post.comments|length }} comments</small>
                    </a>     
                    {% else%}
                    <small class="text-muted">No comments to display</small>
                    {% endif %}
                </p>
                
                <br>

                <!-- add a comment form -->
                <form action="/comment/{{post.id}}" class="input-group mb-3" method="POST">
                    <div class="mr-2">
                        <input type="text" name="text" id="text" class="form-control" placeholder="add your comment here" style="width: 500px;"/>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-rounded" style="border: 2px solid black;"><i class="fa-solid fa-paper-plane"></i></button>
                    </div>
                </form>

            </div>
        </article>
    {% endfor %}

        <div class="pagi_btn text-center">
            {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                    {% if posts.page == page_num %}
                        <a href="{{ url_for('users.user_posts', username=user.username, page=page_num )}}" class="btn btn-info mb-4">{{ page_num }}</a>
                    {% else %}
                        <a href="{{ url_for('users.user_posts', username=user.username, page=page_num )}}" class="btn btn-outline-info mb-4">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                {% endif %}
            {% endfor %}
        </div>

{% endblock content %}

    
