{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file)}}" class="rounded-circle article-img" alt="">
        <div class="media-body">
            <div class="d-flex justify-content-between">
                <div class="article-metadata">
                    <!-- link to the user_posts page -->
                    <a class="mr-2 uname" href="{{url_for('users.user_posts', username=post.author.username )}}" >{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                    <!-- update and delete -->
                    {% if post.author == current_user %}
                        <div>
                            <a href="{{ url_for('posts.update_post', post_id=post.id) }}" class="btn btn-secondary btn-sm mt-1 mb-1">Edit</a>
                            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                        </div>
                    {% endif %}
                </div>
                <div>
                    <!-- <input type="button" value="report" data-toggle="modal" data-target="#reportModal">data-toggle="modal" data-target="#reportModal"</i>
                    <button data-toggle="modal" data-target="#reportModal"><i class="fa-solid fa-circle-exclamation"></i></button> -->
                    <a href="#" data-toggle="modal" data-target="#reportModal"><i class="fa-solid fa-circle-exclamation"></i></a>
                </div>
            </div>
            
            
            <h2 class="article-title font-weight-bold">{{ post.title }}</a></h2>
            {% if post.post_image %}
                <div><p class="article-content">{{ post.content }}</p></div>
                <div class="post-pic"><img src="{{url_for('static', filename = 'post_images/' + post.post_image)}}" alt="" height="auto" width="500px"></div>
            {% else %}
                <div><p class="article-content">{{ post.content }}</p></div>
            {% endif %}

            <!-- like button -->
            <div>
                <span id="likes-count-{{post.id}}">{{post.likes|length}}</span>
                {% if current_user in post.likes|map(attribute="author")|list %}
                    <i class="fa-solid fa-thumbs-up fa-2x" id="likes-button-{{post.id}}" onclick="like({{post.id}})"></i></a>
                {% else %}
                    <i class="fa-regular fa-thumbs-up fa-2x" id="likes-button-{{post.id}}" onclick="like({{post.id}})"></i></a> 
                {% endif %}
            </div>

            <!-- display comments -->
            <!-- expand/collapse the comments for the specific post -->
            <div class="collapse" id="comments-{{post.id}}">
                <div class="card card-body" id="comments-expanded-{{post.id}}">
                   {% for comment in post.comments %}
                       <div class="">
                           <div>
                               <a href="{{url_for('users.user_posts', username=comment.author.username )}}" class="uname">{{comment.author.username}}</a>: {{comment.text}}
                           </div>
                           <div>
                               <small class="text-muted">{{comment.date_posted.strftime('%Y-%m-%d')}}</small>
                               <!-- delete comments -->
                               {% if current_user.id == comment.user_id or current_user.id == post.user_id %}
                                   <div class="btn-group">
                                        <a href="#" style="width: 20px; height: 20px;" style="border: 2px solid black;"  data-toggle="dropdown" >
                                            <i class="fa-regular fa-trash-can"></i>
                                        </a>
                                       <ul class="dropdown-menu">
                                           <li>
                                               <a href="/delete-comment/{{comment.id}}" class="dropdown-item">delete</a>
                                           </li>
                                       </ul>
                                   </div>
                               {% endif %}
                           </div>
                       </div><br>
                   {% endfor %}
               </div>
           </div>

        
        <!-- toggle the comments section -->
        <p class="card-text">
            {% if post.comments|length > 0 %}
            <a data-toggle="collapse" href="#comments-{{post.id}}" role="button" aria-expanded="false">
                <small>View {{post.comments|length }} comments</small>
            </a>     
            {% else%}
            <small class="text-muted">No comments to display</small>
            {% endif %}
        </p>
        
        <br>
        <!-- add a comment form -->
        <form action="/comment/{{post.id}}" class="input-group mb-3" method="POST">
            <div class="mr-2">
                <input type="text" name="text" id="text" class="form-control" placeholder="add your comment here" style="width: 500px;"/>
            </div>
            <div>
                <button type="submit" class="btn btn-rounded" style="border: 2px solid black;"><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </form>

            
    </article>  

    <!--delete post Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h3 class="modal-title fs-5" id="deleteModalLabel">Delete your Post?</h3>
            <button type="button" class="btn btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
            <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                <input type="submit" class="btn btn-danger" value="Delete">
            </form>
            </div>
        </div>
        </div>
    </div>

        <!-- Report post modal -->
    <div class="modal" tabindex="-1" role="dialog" id="reportModal">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Report Post</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <!-- Report form -->
            <form action="{{url_for('posts.report_post', post_id=post.id)}}" method="post">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <div class="form-check">
                        <input type="radio" name="reason" id="Hate_speech" value="Hate Speech">
                        <label for="Hate_speech">Hate Speech</label><br>
                        <input type="radio" name="reason" id="false" value="False Information">
                        <label for="false">False Information</label><br>
                        <input type="radio" name="reason" id="violance" value="Violance">
                        <label for="violance">Violance</label>
                    </div>
                    <div class="form-description">
                        <input type="text" class="form-control" name="description" id="description" placeholder="Describe the situation(Optional)">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Report</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>

{% endblock content %}
    
<!-- <i class="bi bi-pencil-square">
    <a href="{{ url_for('update_post', post_id=post.id)}}"></a>
</i>
<i class="bi bi-trash">

</i> -->