{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file)}}" class="rounded-circle article-img" alt="">
        <div class="media-body">
        <div class="article-metadata">
            <!-- link to the user_posts page -->
            <a class="mr-2" href="{{url_for('users.user_posts', username=post.author.username )}}">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            <!-- update and delete -->
            {% if post.author == current_user %}
                <div>
                    <a href="{{ url_for('posts.update_post', post_id=post.id) }}" class="btn btn-secondary btn-sm mt-1 mb-1">Edit</a>
                    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                </div>
            {% endif %}
        </div>
        <h2 class="article-title font-weight-bold">{{ post.title }}</a></h2>
        {% if post.post_image %}
            <div class="post-pic"><img src="{{url_for('static', filename = 'post_images/' + post.post_image)}}" alt="" height="auto" width="500px"></div>
            <div><p class="article-content">{{ post.content }}</p></div>
        {% else %}
            <div><p class="article-content">{{ post.content }}</p></div>
        {% endif %}
        </div>
    </article>  

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h3 class="modal-title fs-5" id="deleteModalLabel">Delete your Post?</h3>
            <button type="button" class="btn btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
            <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                <input type="submit" class="btn btn-danger" value="Delete">
            </form>
            </div>
        </div>
        </div>
    </div>
{% endblock content %}
    
<!-- <i class="bi bi-pencil-square">
    <a href="{{ url_for('update_post', post_id=post.id)}}"></a>
</i>
<i class="bi bi-trash">

</i> -->